<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="5 minutes">
    <contextName>cicada-client</contextName>
    
    <!-- 日志文件存储路径 -->
    <property name="LOG_HOME" value="${catalina.home}/logs/" />

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger{200}:%file\(%line\) | %chain | %msg%n</pattern>
        </layout>
    </appender>

    <!-- Info -->
    <appender name="info"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info/cicada-client-info.log</file>
        <appender>true</appender>
        <Encoding>UTF-8</Encoding>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- 每小时生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/cicada-client.%d{yyyy-MM-dd-HH}-info.log.gz
            </fileNamePattern>
            <!-- 日志文件保留7天 -->
            <maxHistory>168</maxHistory>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger{200}:%file\(%line\) | %chain | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug -->
    <appender name="debug"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/debug/cicada-client-debug.log</file>
        <appender>true</appender>
        <Encoding>UTF-8</Encoding>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <!-- 每小时生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug/cicada-client.%d{yyyy-MM-dd-HH}-debug.log.gz
            </fileNamePattern>
            <!-- 日志文件保留7天 -->
            <maxHistory>168</maxHistory>
        </rollingPolicy>

        <!-- 格式化输出 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger{200}:%file\(%line\) | %chain | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error -->
    <appender name="error"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error/cicada-client-error.log</file>
        <appender>true</appender>
        <Encoding>UTF-8</Encoding>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/cicada-client.%d{yyyy-MM-dd}-error.log.gz
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger{200}:%file\(%line\) | %chain | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异步日志配置 -->
    <appender name="info_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="info" />
    </appender>

    <appender name="debug_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="debug" />
    </appender>

    <appender name="error_async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="error" />
    </appender>
    
    <logger name="org.springframework" level="info" />
    <logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="info" />
    <logger name="ch.qos.logback" level="ERROR" />
    <logger name="org.mybatis.spring.mapper.MapperScannerConfigurer" level="INFO" />
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="INFO" />
    <logger name="org.apache.commons.httpclient.HttpClient"  level="ERROR" />
    <logger name="org.apache.commons.httpclient" level="ERROR" />
    <logger name="org.apache.commons.httpclient.HttpConnection" level="DEBUG" />
    <logger name="org.apache.http.impl.client.DefaultHttpClient" level="ERROR" />
    <logger name="org.apache.http.impl.conn.DefaultClientConnection" level="ERROR" />
    <logger name="org.apache.http.client.protocol" level="ERROR" />
    <logger name="org.apache.ibatis.logging.LogFactory" level="ERROR" />
    <logger name="com.alibaba.dubbo.common.extension.ExtensionLoader" level="ERROR" />
    <logger name="org.apache.commons.beanutils" level="ERROR" />
    <logger name="org.apache.http.headers" level="ERROR" />
    <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
    <logger name="com.alibaba.dubbo.common.logger.log4j" level="ERROR" />
    <logger name="net.rubyeye.xmemcached.impl" level="ERROR" />
    <logger name="com.google.code.yanf4j.core.impl.AbstractSession" level="ERROR" />
    <logger name="org.apache.activemq.transport.AbstractInactivityMonitor" level="ERROR" />
    <logger name="com.alibaba.dubbo.remoting.exchange.support.header.HeartbeatHandler" level="ERROR" />
    <logger name="com.alibaba.dubbo.remoting.exchange.support.header.HeartBeatTask" level="ERROR" />
    <logger name="java.sql.ResultSet" level="INFO" />
    <logger name="org.springframework.data.redis.core.RedisConnectionUtils" level="ERROR" />
    <logger name="org.springframework.session.data.redis.RedisOperationsSessionRepository" level="ERROR" />
    <logger name="com.mchange.v2.resourcepool.BasicResourcePool" level="ERROR" />
    <logger name="org.apache.curator.framework.state.ConnectionStateManager" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="stdout" />
        <appender-ref ref="info_async" />
        <appender-ref ref="debug_async" />
        <appender-ref ref="error_async" />
    </root>

</configuration>
